@import "../../vars";

.search-results {
  //pointer-events: auto;
  width: 95%;
  max-width: 1400px;
  margin: 0 auto;

  .search--open & {
    //pointer-events: none;
  }
}

.results-table {
  display: block;

  &__row {
    display: grid;
    grid-template-columns: 8% 18% 40% 14% 10% 10%;
    grid-template-rows: 100% auto;
    transition: 0.5s;

    &:hover {
      background: #53545c;
      transition: 500ms;
    }

    &:first-of-type .results-table__col {
      color: white;
    }

  }

  &__col {
    display: grid;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 0.5em 0.5em;
    border-bottom: solid 1px #d9d9d9;
    word-break: break-word;
    max-height: 300px;
    overflow: hidden;
    &--left {
      text-align: left;
    }
  }
}

