@import "../../vars";
@import "../../mixins";

.app {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding-top: 108px;
  @include media-phone {
    padding-top: 78px;
  }
}

.search {
  position: absolute;
  z-index: 101;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* makes other page elements clickable */

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: rgba(14, 16, 15, 0.9);
  }

  &--open {
    overflow: hidden;

  }
}

/* Transitions */
.search {
  &:before {
    opacity: 0;
    transition: opacity 0.5s;
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  }

  &--open {
    pointer-events: auto;

    &:before {
      opacity: 1;
    }

  }

}

